@page
@model GovenorReports.Pages.CostModel
@{
    ViewData["Title"] = "Azure Costs";
}

<div class="text-muted"><div class="text-muted">As of @Model.Run.Runtime.ToShortDateString() @Model.Run.Runtime.ToShortTimeString() UTC</div></div>
<div class="text-muted">Cost estimated using Azure records from the last 7 days, then extrapolating to a 31 day month</div>

<h1>Costs By Resource Group</h1>

<div class="panel-group">
    @foreach (var group in Model.CostsByGroup)
    {
        <div class="panel panel-default">
            <a data-toggle="collapse" href="#@group.Key">
                <div class="panel-heading">

                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-10"><h4 class="panel-title">@group.Key</h4></div>
                            <div class="col-md-2 text-right">@group.Sum(r => r.MonthlyCost).ToString("C2")</div>
                        </div>
                    </div>
                </div>
            </a>
            <div id="@group.Key" class="panel-collapse collapse">
                <div class="panel-body">
                    <table class="table table-condensed">
                        <tr>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Est $/month</th>
                        </tr>
                        @foreach (var resource in group)
                        {
                            <tr>
                                <td>@resource.Name</td>
                                <td>@resource.Type</td>
                                <td class="text-right">@resource.MonthlyCost.ToString("C2")</td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    }
</div>

<h1>Costs By Resource</h1>
<hr />
<table class="table">
    <tr>
        <th>Name</th>
        <th>Group</th>
        <th>Type</th>
        <th>Est $/month</th>
    </tr>
    @foreach (var resource in Model.Costs)
    {
        <tr>
            <td>@resource.Name</td>
            <td>@resource.GroupName</td>
            <td>@resource.Type</td>
            <td class="text-right">@resource.MonthlyCost.ToString("C2")</td>
        </tr>
    }
</table>
