@page
@model IndexModel
@{
    ViewData["Title"] = "Azure Audits";
}

<h1>Current Situation in Azure</h1>
<div class="text-muted">As of @Model.LastRun.Runtime.ToShortDateString() @Model.LastRun.Runtime.ToShortTimeString() UTC</div>
<style>
    .fail {
        color: red;
        font-size: larger;
    }

    .pass {
        color: green;
        font-size: larger;
    }
</style>
@foreach (var subscription in Model.Subscriptions)
{
    <h3>Azure SQL Servers:</h3>
    @foreach (var server in Model.SqlServers.Where(r => r.SubscriptionID == subscription))
    {
        <div class="panel @(server.Failed ? "panel-danger" : "panel-success")">
            <div class="panel-heading">
                <h2 class="text-primary">@server.Name</h2>
                <div class="text-muted">Resource group: @server.GroupName</div>
            </div>
            <div class="panel-body">
                <pass-fail model="@server" key="HolesInFirewall">
                    Firewall
                </pass-fail>
                <pass-fail model="@server" key="EncryptionNotEnabled">
                    Encrypted
                </pass-fail>
                <pass-fail model="@server" key="AuditingNotEnabled">
                    Auditing
                </pass-fail>
                <pass-fail model="@server" key="ThreatDetectionNotEnabled">
                    Threat detection
                </pass-fail>
                <pass-fail model="@server" key="LocationMisAligned">
                    Location
                </pass-fail>
            </div>
        </div>
    }

    <h3>App Services:</h3>

    @foreach (var app in Model.WebApps.Where(r => r.SubscriptionID == subscription))
    {
        <div class="panel @(app.Failed ? "panel-danger" : "panel-success")">
            <div class="panel-heading">
                <h2 class="text-primary">@app.Name</h2>
                <div class="text-muted">Resource group: @app.GroupName</div>
            </div>
            <div class="panel-body">
                <pass-fail model="@app" key="TLS12NotRequired">
                    TLS 1.2
                </pass-fail>
                <pass-fail model="@app" key="HTTPSOnlyNotSet">
                    HTTPS Only
                </pass-fail>
                <pass-fail model="@app" key="HTTP2NotEnabled">
                    HTTP2
                </pass-fail>
                <pass-fail model="@app" key="ContainsConnectionStrings">
                    Connection strings
                </pass-fail>
                <pass-fail model="@app" key="ContainsSensitiveSettings">
                    Sensitive app settings
                </pass-fail>
                <pass-fail model="@app" key="ClientAffinityNotDisabled">
                    Affinity Cookie
                </pass-fail>
                <pass-fail model="@app" key="FTPNotDisabled">
                    FTP/FTPS Access
                </pass-fail>  
                <pass-fail model="@app" key="LocationMisAligned">
                    Location
                </pass-fail>
            </div>
        </div>
    }


    <h3>Redis Caches:</h3>
    @foreach (var redis in Model.RedisCaches.Where(r => r.SubscriptionID == subscription))
    {
        <div class="panel @(redis.Failed ? "panel-danger" : "panel-success")">
            <div class="panel-heading">
                <h2 class="text-primary">@redis.Name</h2>
                <div class="text-muted">Resource group: @redis.GroupName</div>
            </div>
            <div class="panel-body">
                <pass-fail model="@redis" key="NonSslPort">
                    Secure connection
                </pass-fail>
                <pass-fail model="@redis" key="LocationMisAligned">
                    Location
                </pass-fail>
            </div>
        </div>
    }
}